body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: olivedrab;
    background-image: url('http://codd.cs.gsu.edu/~jkaufman7/TexasLogo.png');
    background-size: 240px 180px;
    background-repeat: no-repeat;
    background-position: center center;
}
a {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #AB201f;
    text-decoration: none;

}
a:hover{
    color:whitesmoke;
}